---
import Contact from "../components/Contact.astro";
import EventsPromos from "../components/EventsPromos.astro";
import FAQ from "../components/FAQ.astro";
import Galery from "../components/Galery.astro";
import Hero from "../components/Hero.astro";
import Location from "../components/Location.astro";
import Menu from "../components/Menu.astro";
import ValueProposition from "../components/ValueProposition.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Esquina - RestoBar">
	<Hero />
	<div class="-mt-36 bg-decorative-amber"></div>
	<div class="mt-96 bg-decorative-pink"></div>
	<ValueProposition />
	<div class="right-4/6 bg-decorative-purple"></div>
	<Menu />
	<div class="bg-decorative-pink"></div>
	<EventsPromos />
	<div class="right-5/6 bg-decorative-purple "></div>
	<Location />
	<div class="bg-decorative-amber"></div>
	<FAQ />
	<div class="bg-decorative-pink"></div>
	<Contact />
</Layout>
